.navbar-brand {
  &.details {
    display: flex;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 600;
      padding-left: 0.5rem;
    }
  }
}

.main-area {
  &.details {
    top: 60px;
    @include device(mobile) {
      padding-top: 0.5rem;
    }
  }
}

.ads-floating {
  position: fixed;
  bottom: 0;
  width: auto;
  z-index: 999999;
  img {
    width: 418px;
    @include device(mobile) {
      width: 328px;
    }
  }
}

.news-details {
  figure {
    img {
      border-radius: 16px;
    }
  }
  .news-top-info {
    h4 {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.33;
    }
    .profile {
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    .news-info {
      h5 {
        font-size: 16px;
        font-weight: 700;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .captions {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0.5rem;
    color: #717171;
  }
}

.breadcrumb {
  background: #f7f7f7;
  border-radius: 16px;
  a {
    font-weight: 400;
  }
}

.fancybox-container {
  z-index: 999999999;
}

.tags {
  .nav-link {
    background: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    font-size: 14px;
  }
}

html[theme="dark"] {
  * {
    color: #fff;
  }

  .breadcrumb {
    background: #191919;
    border-radius: 16px;
    a {
      font-weight: 400;
      color: #fff;
    }
  }

  .news-content {
    p {
      color: #fff;
    }
  }

  .news-details {
    .news-top-info {
      h4 {
        color: #fff;
      }
      .news-info {
        h5 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
    .captions {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.3;
      margin-top: 0.5rem;
      color: #fff;
    }
  }

  .tags {
    .nav-link {
      background: #232323;
      border: 1px solid #363636;
      border-radius: 16px;
      margin-right: 0.75rem;
      margin-bottom: 1rem;
      font-size: 14px;
      color: #fff;
    }
  }
  hr {
    border-color: #363636;
  }
}
