.main-area {
  background-color: white;
  position: relative;
  top: 146px;
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  padding: 40px 16px 80px;
  @include device(mobile) {
    max-width: 360px;
    padding: 20px 0 80px;
  }
}

html {
  background: var(--lightBg);

  --lightBtn: #fe016c;
  --lightBg: #f7f7f7;
  --lightColor: #232323;
  a {
    color: $primary;
  }
  body {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #f7f7f7;
    --lightColor: #232323;
  }
  .main-area {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #fff;
    --lightColor: #232323;
  }
  .header {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #fff;
    --lightColor: #232323;
  }
}

html[theme='dark'] {
  background: var(--lightBg);

  --lightBtn: #ffbd07;
  --lightBg: #050505;
  --lightColor: #fff;
  body {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #050505;
    --lightColor: #fff;
  }
  .main-area {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #101010;
    --lightColor: #fff;
  }
  .header {
    background: var(--lightBg);

    --lightBtn: #ffbd07;
    --lightBg: #101010;
    --lightColor: #fff;
  }
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: #ffbd07;
}

input:checked + label::after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

.slick-dots {
  bottom: -15px !important;
}

.slick-dots li button::before {
  font-size: 13px !important;
}

.slick-dots li.slick-active button::before {
  opacity: 1 !important;
  color: #511c74 !important;
}

figure {
  text-align: center;
}

.polling {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;

  .btn-outline-primary {
    width: 100px;
  }

  .progress {
    background-color: #511c74 !important;

    &-bar {
      background-color: #8e7cb2 !important;
    }
  }

  &-detail {
    .btn-outline-primary {
      width: 100px;
    }

    .progress {
      background-color: #511c74 !important;

      &-bar {
        background-color: #8e7cb2 !important;
      }
    }
  }
}
