.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 1049;
  @include device(mobile) {
    padding: 0 1rem;
  }
  &-container {
    max-width: 480px;
    width: 100%;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;

    &--centered {
      position: relative;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;
      height: 146px;
    }

    .logo {
      width: 100%;
      height: auto;
    }
    .input-search {
      position: relative;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      color: $fontColor-light-default;
      font-size: 12px;
      height: 36px;
      width: 100%;
      background: rgb(240, 240, 240);
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      padding: 0 15px;
      border-radius: 20px;
      .form-search {
        position: relative;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        color: $fontColor-light-default;
        font-size: 12px;
        height: 36px;
        width: 100%;
        padding: 0;
        background: rgb(240, 240, 240);
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        &:focus {
          border: 0 !important;
          box-shadow: none !important;
        }
      }
      &::after {
        position: absolute;
        top: 25%;
        right: 5%;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
      }
    }
  }
}

html[theme="dark"] {
  .input-search {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: $white;
    font-size: 12px;
    height: 36px;
    width: 100%;
    background: #1d1d1d;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0 15px;
    border-radius: 20px;
    .form-search {
      position: relative;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      color: #fff;
      font-size: 12px;
      height: 36px;
      width: 100%;
      padding: 0;
      background: #1d1d1d;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      &:focus {
        border: 0 !important;
        box-shadow: none !important;
      }
    }
    &::after {
      position: absolute;
      top: 25%;
      right: 5%;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f002";
    }
  }
}
