<template>
  <!-- Header -->
  <header id="header" class="header">
    <div class="header-container header-container--centered">
      <NuxtLink to="/" class="logo">
        <img
          src="~/assets/img/flag-web-tadatodays-2024.png"
          class="img-fluid"
          alt=""
          loading="lazy"
        />
        <!-- <img
          src="~/assets/img/tada-square-ungu-new.jpg"
          class="img-fluid"
          alt=""
          loading="lazy"
        /> -->
      </NuxtLink>
      <Search @searchFocus="(val) => (searchFocused = val)" />
    </div>
  </header>
  <!-- end: Header -->
</template>
<script>
import Search from '~/components/partials/Search.vue'
export default {
  name: 'Header',
  components: { Search },
  data() {
    return {
      searchFocused: false,
    }
  },
  methods: {
    searchFocus(val) {},
  },
}
</script>
